<div class="page-container pb-medium-large px-medium-large d-flex flex-column">
    @if (!table.dataLoaded) {
        <tcl-loading-spinner
            size="large"
            text="Loading batch errors..."></tcl-loading-spinner>
    } @else {
        <div class="align-items-end d-flex mb-small">
            <tcl-text-input
                class="mr-medium"
                label="Reason"
                [showCount]="false"
                [(value)]="reason"
                (onChange)="handleReasonInput($event)"></tcl-text-input>
            <tcl-button
                class="mr-medium pl-small"
                theme="primary"
                [featureVersion]="featureVersion"
                [style.width.px]="600"
                (onClick)="handleSearchClick()"
                >Search</tcl-button
            >
        </div>

        <tcl-table
            class="tc-new-tables"
            #dataTable
            [autoLayout]="true"
            [lazy]="true"
            [pageSelectionOnly]="false"
            [paginator]="true"
            [paginatorOpenAbove]="false"
            [resizableColumns]="false"
            [rows]="paginator.pageSize"
            [rowsPerPageOptions]="paginator.pageSizeOptions"
            [scrollable]="false"
            [totalRecords]="paginator.pageTotal"
            [value]="table.data"
            (closeSpinner)="table.dataLoaded = true"
            (onPage)="paginator.pageChangedTcl($event)"
            (onPageSelectionOnlyActive)="paginator.pageChanged($event)">
            <ng-template tclTemplate="empty-message">
                <tr>
                    <td
                        class="empty-message"
                        colSpan="6">
                        No jobs found
                    </td>
                </tr>
            </ng-template>
            <!-- Headers -->
            <ng-template tclTemplate="header">
                <tr>
                    @for (col of table.dataColumns; track col) {
                        <th>{{ col.header }}</th>
                    }
                </tr>
            </ng-template>
            <!-- Rows -->
            <ng-template
                let-value
                tclTemplate="body">
                <tr>
                    @for (row of table.dataColumns; track row) {
                        @switch (row.field) {
                            @case ('dateAdded') {
                                <td style="vertical-align: top">
                                    {{ value[row.field] | date: 'MMM d, y, h:mm:ss a z' : 'GMT' }}
                                </td>
                            }
                            @case ('message') {
                                <td
                                    class="text-wrap"
                                    style="vertical-align: top">
                                    [{{ value['code'] }}] {{ value[row.field] }}
                                </td>
                            }
                            @default {
                                <td
                                    style="
                                        white-space: pre-line;
                                        vertical-align: top;
                                        line-break: anywhere;
                                    ">
                                    {{ value[row.field] }}
                                </td>
                            }
                        }
                    }
                </tr>
            </ng-template>
        </tcl-table>
    }
</div>
